doctype html
html
    head
        stule
            include style.css

    body
        div
            block content

        div.footer
            | Nwerdsdfdg
            br
            | Nwerdsdfdg

